@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

::-webkit-scrollbar-track
{
	background-color:  #4d004d;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #4d004d;
}

::-webkit-scrollbar-thumb
{
	background-color: #ffffff;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

* {
    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
}

body {
    display: block;
    background: transparent !important;
}

.container-ui {
    display: none;
    width: 80%;
    height: 80vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: url(/html/path.png) #4d004d;;
    background-size: cover;
    min-width: 1140px;
    min-height: 800px;
    max-height: 1080px;
    overflow-x: hidden;
}

.header {
    height: 10%;
}

.content {
    height: 80%;
}

.footer {
    height: 10%;
    z-index: 1;
}

.list-btn {
    background-color: #ffffff;
    outline: none;
    border: none;
    padding:1vh 2vh;
    font-size: 80%;
    white-space: nowrap;
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .2s;
}

.list-btn:hover {
    background-color: aliceblue;
    color: black;
}

.list-btn:focus {
    outline: none;
}

.footer-bg {
    background-color: #4d004d;
    box-shadow: 0 2vh 2vh rgba(0,0,0,0.2);
}

.pic-container {
    width: 100%;
    height: 70%;
}

.pic-container img {
    display: block;
    width: 60%;
    min-width: 800px;
    height: auto;
}

.btn-wrapper {
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
}

.circle-btn {
    display:block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #666666;
    position: absolute;
    left: 10%;
    transition: background-color .2s;
}  

.circle-btn:hover {
    background-color: #666666;
    box-shadow: 0 1vh 1vh rgba(0,0,0,0.5);
}  

.circle-btn img {
    position: absolute;
    top:50%;
    left:50%;
    padding:10px;
    transform: translate(-50%, -50%);
    width: 100%;
}

.circle-btn-right {
    display:block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #666666;
    position: absolute;
    right: 20%;
    transition: background-color .2s;
    box-shadow: 0 1vh 1vh rgba(0,0,0,0.5);
}  

.circle-btn-right:hover {
    background-color: #666666;
}  

.circle-btn-right img {
    position: absolute;
    top:50%;
    left:50%;
    padding:10px;
    transform: translate(-50%, -50%);
    width: 100%;
}

.panama-btn {
    padding:1vh 2vh;
    float:right;
    outline: none;
    border: none;
    text-decoration: none;
}

.panama-btn:focus {
    outline: none;
}

.btn-blue {
    background-color: #ff99ff;
    color: black;
    transition: opacity .2s;
}

.btn-blue:hover {
    opacity: 0.7;
}

.btn-white {
    background-color: #ff99ff;
    color:black;
    transition: opacity .2s;
}

.btn-white:hover {
    opacity: 0.7;
}

.price {
    font-size:200%
}

.gray {
    color: #999999;
}

.white {
    color:white;
}


.no-text-decoration {
    text-decoration: none;
    transition: color .2s;
}

.no-text-decoration:hover {
    text-decoration: none;
    color: #999999;
}

.menu-items {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    transition: background-color .4s;
    border-radius:5vh;
}

.menu-item:hover {
    background-color: white;
    color: black;
}

.list-card {
    width: 100%;
    background-color: rgb(141, 7, 224);
    font-size:150%;
    padding: 2vh;
}

.eye-right {
    font-size:250%;
    transition: color .10s;
}

.eye-right:hover {
    color:rgb(64, 67, 255);
}

.right {
    position: absolute;
    right: 2%;
    font-size:150%;
}

.garage-smx2-font {
    font-size: 60%;
}

.garage-smx1-font {
    font-size:70%;
}

.garage-sm-font {
    font-size: 80%;
}

.overflowy {
    overflow-y: auto;
}

.red {
    color:#695eff;
}